.basket {
    display: flex;
    order: 2;
    flex: 0 30%;
    justify-content: flex-end;
    align-items: center;
    color: white;
    margin: 2%;
}

@media all and (max-width: 500px) {
    .basket {
        flex-direction: row;
        flex: 0 30%;
        /* justify-content: center; */
    }
}
