#menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(172, 140, 59, 0.9);
    justify-content: space-around;
}
@media all and (max-width: 500px) {
    #menu {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
