.cart {
    display: flex;
    width: 100%;
    margin: 1% 0;

    background-color: rgb(172, 140, 59, 0.5);
}
.cartDescription {
    display: flex;
    flex: 1 100%;
}
.cartDescription ul {
    display: flex;
    flex-flow: row wrap;
    flex: 1 100%;
}
.cartDescription ul li {
    justify-content: space-between;
    flex: 0 15%;

    list-style-type: none;
    margin: 0 2%;
}
.inputCart {
    width: 50%;
}
.quantity {
    display: flex;
    justify-content: space-between;
    align-self: center;
}
button {
    margin: 1%;
}
