.imgagesBox {
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(145, 141, 141, 0.52);
}
.imageDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: 0 30%;
    margin: 2% 0 2% 2%;
}
.image {
    display: flex;
    flex: 0 80%;
    width: 30%;
    margin: 2%;
}
.honeyDescription {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}
.honeyDescription ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    padding: 0;
}

.honeyDescription ul li {
    list-style-type: none;
}
.toBasket {
    color: red;
    cursor: pointer;
    padding: 3%;
    width: 60%;
}
.quantityDiv {
    display: flex;
    flex-wrap: row wrap;
    margin: 1%;
}
.inputQuantityJars {
    width: 20%;
}
.miniBasket {
    display: flex;
    flex-flow: row wrap;
    width: 60%;
    font-size: small;
    margin: 2%;
    border-left: 4px solid rgb(172, 140, 59);
    background-color: rgb(172, 140, 59, 0.5);
}
.totalPrice {
    color: red;
    display: flex;
    flex: 1 100%;

    justify-content: flex-end;
    margin: 1% 2%;
}
@media all and (max-width: 500px) {
    .imageDiv {
        flex-flow: column wrap;
        flex: 0 30%;
        margin: 2%;
        padding: 2%;
    }
    .imgagesBox {
        flex-flow: column wrap;
        flex: 0 80%;
    }
    .image {
        flex: 0 60%;
        width: 70%;
        align-self: center;
    }
    .toBasket {
        width: 40%;
    }
    .honeyDescription {
        margin: 0 2% 2% 2%;
    }
}
